
@{
    ViewBag.Title = "Złożono zamówienie";
}


<h2>Zamówienie</h2>

<h3>Gratuluję!</h3>
<h4>Właśnie złożyłeś zamówienie numer: @ViewBag.NumerDokumentu</h4>

<button class="btn btn-default" onclick="location.href = '@Url.Action("Index", "Home")'">Przejdź do strony głównej</button>

<script>
    var d = new Date();
    d.setTime(d.getTime() + (1 * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = "Cart=; " + expires;
</script>